<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <p><strong>This is ALL of my web applications!</strong></p>

    {{> footer}}
  </body>
</html>
